<nav class="nav-adm">
    <ul>
      <li><a href="#">Pedidos</a></li>
      <li><a href="#">Clientes</a></li>
      <li><a href="/adm/pizzas">Pizzas</a></li>
      <li><a href="#">Usuarios</a></li>
    </ul>
  </nav>