<header>
  <a href="/">
    <img id="logo" src="/img/logo.svg" alt="Logo da Pizzaria Fantástica" />
  </a>

  <input
    placeholder="Qual pizza você procura?"
    type="text"
    name=""
    id="campo-busca"
  />
  <button type="submit" class="btBuscar">Buscar</button>

  <a href="/carrinho">
    <img src="" alt="" />
    <span>0</span>
  </a>
  <a>
    <img src="" alt="" />
  </a>
</header>
