<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Carrinho | Pizzaria Fantástica</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/img/logo.svg" alt="Logo da Pizzaria Fantástica" height="64" width="64"/>
        </a>

        <input placeholder="Qual pizza você procura?" type="text" name="" id="" />
        <button type="submit">Buscar</button>
        
        <a href="/carrinho">
            <img src="" alt="">
            <span>0</span>
        </a>
        <a>
            <img src="" alt="">            
        </a>
    </header>
    <h1>Esta é a página do carrinho</h1>
</body>
</html>