<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {estilos: ["/css/erro-404.css"], titulo: 'Não encontramos sua página'})  %> 
<body>
    <%- include('partials/header') %>
    
    <main>
        <p>Desculpe, mas não encontramos a página</p>
    </main>
</body>
</html>