<!DOCTYPE html>
<html lang="pt-br">
  <%- include("./partials/head", {estilos: ["/css/index.css"], titulo: "Pizzaria Fantástica"}) %>
  <body>
    <%- include("./partials/header") %>
    <main></main>
    <script src="/js/index.js"></script>
  </body>
</html>
