<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica</title>
    <link rel="stylesheet" href="/css/geral.css">

</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/img/logo.svg" alt="Logo da Pizzaria Fantástica" />
        </a>

        <input placeholder="Qual pizza você procura?" type="text" name="" id="" />
        <button type="submit" class="btBuscar">Buscar</button>
        
        <a href="/carrinho">
            <img src="" alt="">
            <span>0</span>
        </a>
        <a>
            <img src="" alt="">            
        </a>
    </header>

    <main>
        <article>
            <img src="/img/no-image.png" alt="Pizza Portuguesa">
            <h2>Portuguesa</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
            <h2>Calabresa</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/fracatu.jpg" alt="Pizza Fracatu">
            <h2>Fracatu</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/marguerita.jpg" alt="Pizza Marguerita">
            <h2>Marguerita</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/quatroqueijos.jpg" alt="Pizza Quatro Queijos">
            <h2>Quatro Queijos</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/quatroqueijos.jpg" alt="Pizza Quatro Queijos">
            <h2>Quatro Queijos</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
            <h2>Calabresa</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>

        <article>
            <img src="/img/fracatu.jpg" alt="Pizza Fracatu">
            <h2>Fracatu</h2>
            <span>R$ 10.00</span>
            <a href="">Ver mais</a>
            <button>add+</button>
        </article>
    </main>
</body>
</html>