<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {estilos: ["/css/perfil.css"], titulo: "Meu Perfil | Pizzaria Fant치stica"}) %>
  <body>
    <%- include("partials/header") %>
    <form
      id="form-usuario"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      <label class="input-file-container">
        Clique para escolher uma imagem
        <input type="file" name="img" id="img" />
      </label>

      <div class="campos">
        <label>
          Nome:
          <input
            type="text"
            name="nome"
            id="nome"
            placeholder="Digite o nome do usu치rio"
            value="<%= usuario.nome %>"
          />
        </label>

        <label>
          E-mail:
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite e-mail do usu치rio"
            value="<%= usuario.email %>"
          />
        </label>

        <label>
          Senha:
          <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Digite a senha"
          />
        </label>

        <label>
          Confirme a Senha:
          <input
            type="password"
            name="conf"
            id="conf"
            placeholder="Confirme a senha do usu치rio"
          />
        </label>

        <button type="submit">Salvar</button>
      </div>
    </form>
    <script
      src="https://kit.fontawesome.com/90a414e190.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/perfil.js"></script>
  </body>
</html>
